.aboutUsMain{
    min-height: 70vh;
    
    padding-top: 1rem;
}
.aboutUsMain span{
    font-weight: 600;
    border-bottom: 2px solid #2977B1;
    
}
.aboutUsTextDiv{
    padding-bottom: 2rem;
}
.aboutUsMain h1{
    padding: 1rem 0rem;
}
.aboutUsTextMainDiv{
    display: flex;
}
.aboutUsTextMainDiv div{
    width: 50%;
}

@media screen and (max-width: 600px) {
    .aboutUsImage{
        display: none;
    }
     .aboutUsTextMainDiv div{
        width: 100%;
     }
}
      
