.contactBg {
    align-items: left !important;
    background-attachment: fixed;
    background-image: url(../../public/images/ContactUsBg.png) !important;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    padding: 2rem;
}
.contactMainDiv a{
    color: white;
    text-decoration: none;
}
.contactBg span {
    font-size: 3rem;
    font-weight: 600;
}
.contactText {
    padding-top: 3rem;
}
.contactText h4 {
    font-size: 2rem;
}
.contactText h5 {
    font-size: 1.2rem;
}
.contactUsDiv, .contactUsForm {
    animation: slideInFromLeft 1s ease-in-out;
}
.contactUsDiv {
    min-height: 100vh;
}
.contactMap {
    padding: 2rem;
    width: 100%;
}
.contactMainDiv {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}
.addressDiv, .findUsDiv {
    color: #fff;
    min-height: 15rem;
    padding: 2rem;
    width: 50%;
}
.addressDiv {
    background-color: #12334e;
}
.findUsDiv {
    background-color: #1a5173;
}
.axisMechanicsContact span {
    font-size: 1.5rem;
    font-weight: 600;
}
.findUsPadding {
    padding-left: 1rem;
}
.findUs {
    display: flex;
    font-size: 2rem;
    width: 100% !important;
}
.contactChatBtn {
    color: #fff;
    text-decoration: none !important;
}
.contactUsForm {
    padding: 2rem;
}

@media screen and (max-width: 600px) {
    .contactMainDiv{
        flex-direction: column;
    }
    .addressDiv,.findUsDiv{
        width: 100%;
    }
  }