/* FAQ.css */

.faq-container {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;

  }
  
  .faq-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    font-size: 1.2rem;
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 450;
  }
  
  .answer {
    margin-top: 10px;
    padding-left: 20px;
    display: none;
    text-align: left;
  }
  
  .active .answer {
    display: block;
  }
  
  .faqMain{
    min-height: 70vh;
    padding: 1rem;
    padding-top: 2rem;
}
.faqMain h1 span{
    font-weight: 400;
  
    border-bottom: 2px solid #2977B1;
    
}
.faqMain h1{
  padding: 2rem 0rem;
}
.faqMain h5{
    font-weight: 400;
}
