/* FAQ.css */

.faq-container {
 
    
    margin: 0 auto;

  }
  
  .faq-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    font-size: 1.2rem;
  }
  

  

  

.faqMain h1 span{
    font-weight: 600;
  
    border-bottom: 2px solid #2977B1;
    
}

/* faq.css */

.faq-container{
  display: flex;
  justify-content: space-between;
}
.faq-item {
  width: 33.333%;
  height: 300px; /* Adjust height as needed */
  background-color: #f0f0f0; /* Background color for question box */
  color: white;
  padding: 2rem;
  align-items: center;
  margin-bottom: 10px;
  perspective: 1000px; /* Define the perspective for 3D effects */
  position: relative;
  overflow: hidden;
  font-size: 1.5rem;
}
.faq-item1{
  background-color: #12334E;
}

.faq-item0, .faq-item2{
  background-color: #1A5173;
}
.faq-item:hover .flipper {
  transform: rotateY(180deg); /* Flip the box on hover */
}

.flipper {
  transition: transform 0.6s; /* Define transition for smooth flipping */
  transform-style: preserve-3d;
  position: relative;
}

.question, .answer {
  backface-visibility: hidden; /* Hide the backface of the box during animation */
}

.question {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-weight: 600;
  font-size: 1.7rem;
  justify-content: left;
  
}

.answer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  transform: rotateY(180deg); /* Initially hide the answer side */
}
@media screen and (max-width: 600px) {
  .faq-item{
width: 100%;
margin: 0;
border: 0px;
  }
  .faq-container{
    flex-direction: column;
  }
}
