.footerMain{
    min-height: 50vh;
    padding: 1rem;
    padding-top: 2rem;
    background-color: #12334E;
    color: #D1D4D6;
}
.footerMain span{
    font-weight: 600;
    border-bottom: 2px solid #2977B1;
    
}
.footerMain h1{
    padding: 1rem;
    font-size: 1.3rem;
    text-align: left;
    /* padding-left: 1rem; */
}
.infoFooter:hover{
  color: white;
}
.footerDiv{
    display: flex;
}
.footerInsideDiv{
    width: 33%;
}
.footer-links {
    list-style-type: circle; 
    text-align: left;
 
  }
  .footer-links a{
    text-decoration: none;
    color: #abb8cc;
  }
  .footer-links p{
    color: #abb8cc;
  }
  
  
  /* .footer-links li::before {
    content: ">>";
    color: #abb8cc;
    margin-right: 20px; 
  } */
  
  .footer-links a:hover{
   
    color: white;
  }
  .footer-links p:hover{
    color: white;
  }
  .footer-links:hover{
    color: white;
  }
.findUs{
    font-size: 2rem;
    display: flex;
  
    width: 100% !important;
}
.findUs a{
    margin: 0rem 1rem;
}
.chatWithUs{
    padding: 1rem;

    width: 100% !important;
}
.chatWithUsBtn{
    border: 1px solid #abb8cc;
    padding: 1rem;
    width: 200px;
    text-align: center;
}
.chatWithUs svg{
    font-size: 1.4rem;
    vertical-align: top;
    margin-left:1rem ;
}
.chatWithUsBtn:hover{
    background-color: white;
    color: #1B273D;
}
.chatWithUsBtn a:hover{
    color: #1B273D;
}
.copyright{
    background-color: #2977B1;
    color: #abb8cc;
    min-height: 3rem;
  
    text-align: center;
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright p{
    margin: 0px;
}
.axisMechanics{
    padding-left: 0rem !important;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f0f0f0;  */
    padding: 20px; 
    flex-wrap: wrap;
    flex-direction: column;

  }
  .nav-links div{
    border-bottom: 1px solid #31313159;
    text-align: left;
    padding: .8rem 0rem;
    
    width: 220px;
  }
  .nav-links div:hover{
    background-color: #f0f0f0; 
  }
  
  .nav-links a {
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
    padding: 10px; 
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #2977b1; 
    padding-left: 15px;
  }
  
  .linksMain{
    display: flex;
    padding: 3rem 0rem;
    justify-content: space-around;
  }
  .linksMain div{
    text-align: left;
  }

  .makeItHappen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    
  }
  .makeItHappen h1{
    font-size: 4rem;
    font-weight: 600
  }
@media screen and (max-width: 600px) {
    .footerDiv{
        flex-direction: column;
    }
    .footerInsideDiv{
        width: 100%;
    }
    .footerMain h1 {
       padding: 0rem;
    }
    .copyright{
        line-height: 1.5rem;
        font-size: .8rem;
    }
     .linksMain{
   flex-direction: column;
  }
  .footerLinks{
    display: block;
    padding: 0%;
  
  }

  }