.joinusMain{
    min-height: 100vh;
}
/* joinUs.css */

/* Define the animation */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /* Apply animation to specific elements */
  .joinusMain {
    animation: slideInFromLeft 0.5s ease-in-out; /* Apply animation to slide in from left */
  }
  