.missionMain{
    min-height: 60vh;

    padding-top: 2rem;
   

}
.missionMain p{
  font-size: 1.2rem;
}
.missionMain span{
    font-weight: 400;
    border-bottom: 2px solid #2977B1;
    
}
.missionMain h1{
    padding: 2rem 0rem;
    
}
.missionMain h1 span{
  font-weight: 600;
}

  
  
@media screen and (max-width: 600px){
 
    /* .missionMain span{
        font-size: 1.5rem;
    } */
}