.missionMain{
    min-height: 50vh;

    padding-top: 2rem;
   

}
.missionMain p{
  font-size: 1.2rem;
}
.missionMain span{
    font-weight: 400;
    border-bottom: 2px solid #2977B1;
    
}
.missionMain h1{
    padding: 2rem 0rem;
    
}
.missionMain h1 span{
  font-weight: 600;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* Optional: Slide up animation */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated {
    animation: fadeIn 1s ease-in-out;
  }
  
  
@media screen and (max-width: 600px){
 
    /* .missionMain span{
        font-size: 1.5rem;
    } */
}