.imageDivPartner{
    display: flex !important;
    justify-content: center;
}
.ourPartnerMain{
    min-height: 70vh;
    padding: 1rem;
    padding-top: 2rem;
}
.ourPartnerMain span{
    font-weight: 600;
    border-bottom: 2px solid #2977B1;
    
}
.ourPartnerMain h1{
    padding: 2rem;
}

.slider-container{
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imageDivPartner{
    padding: 1rem;
   
}
.imageDivPartner img{
    max-width: 70vw;
}
@media screen and (max-width: 600px) {
    .slick-slide img{
        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ourPartnerMain{
        min-height: 50vh;
    }
  }
  