.projectsBg {
  background-image: url(../../public/images/ProjectsBGpng.png) !important;
}
.fadeIn {
  animation-name: fadeIn;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.project-container {
  grid-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}
.projectMain {
  margin: 2rem 0;
  min-height: 100vh;
}
.animated {
  animation: fadeIn 1s ease-in-out;
}
.project-item {
  box-shadow: 0 4px 8px 0 #0003, 0 6px 20px 0 #00000030;
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-height: 450px;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  width: 350px;
}
.project-image {
  height: 300px;
  max-height: 100%;
  max-width: 100%;
  transition: transform .3s ease;
  transition: transform .3s ease-in-out;
  width: 400px;
}
.projectName {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 1rem;
  text-align: left;
}
.projectCategory {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 1rem;
}

@media screen and (max-width: 600px) {
  .project-item{
    min-height: 550px;
  }
}