.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 1rem;
}
.services{
    min-height: 100vh;
}
.services span{
  font-size: 3rem;
  font-weight: 600;
}

  .serviceImgContainer {
    align-items: center;
    background-attachment: fixed;
    background-image: url('./../../public/images/serviceBg.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    min-height: 12rem;
    padding: 2rem;
}
.details-link {
  text-decoration: none;
  width: 47.5%;
}

.HomeServicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}
.service {
  align-items: left;
  background: #12334e;
  background: linear-gradient(90deg, #12334e, #1a5173 50%);
  box-shadow: 0 4px 8px 0 #0003, 0 6px 20px 0 #00000030;
  color: #fff;
  display: flex;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#12334e",endColorstr="#1a5173",GradientType=1);
  flex-direction: column;
  font-size: 2rem;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 3rem;
  min-height: 250px;
  padding: 1rem;
  transition: transform .3s;
}
.imgStyleService {
  margin-bottom: 10px;
  height: 70px;
  width: 70px;
}
.serviceContainer p{
  text-align: left !important;
}
.HomeServicesContainer p {
  font-size: 1rem;
  font-weight: 500;
}
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* ServiceDetails Page */
  .serviceDetailMain {
    min-height: 100vh;
}
.serviceDetailsImgContainer {
  background-attachment: fixed;
  color: #fff;
  min-height: 12rem;
}
.serviceMainText {
  align-items: center;
  display: flex;
  min-height: 12rem;
  padding: 2rem;
  width: 100%;
}
.service-details {
  font-size: 1.2rem;
}
.service-points {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 3rem;
}
.point-item {
  margin-bottom: 10px;
  margin-right: 10px;
}
.point-box {
  align-items: center;
  background: #12334e;
  background: linear-gradient(90deg, #12334e, #1a5173 50%);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 #0003, 0 6px 20px 0 #00000030;
  color: #fff;
  display: flex;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#12334e",endColorstr="#1a5173",GradientType=1);
  font-size: 14px;
  font-size: 1.5rem;
  font-weight: 500;
  height: 200px;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  width: 200px;
}
.service-details-container {
  padding: 2rem;
}

@media screen and (max-width: 600px) {
  .HomeServicesContainer{
    flex-direction: column;
  }
  .details-link{
    width: 100%;
  }
}