.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}
.services{
    min-height: 100vh;
}
.services span{
    font-weight: 400;
    border-bottom: 2px solid #2977B1;
    font-size: 1.8rem;
}
.service-card{
 
    padding: 1rem;

}
.btnService{
    background-color: #2977B1 !important;
    color: white !important;
}
.btnService a{
    color: white;
    text-decoration: none;
}
.service-details{
    min-height: 100vh;
}

/* styledetails.css */

.service-details-container {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .service-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .service-image {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 20px auto;
  }
  
  .service-detailss {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .service-points {
    margin-top: 20px;
    padding-left: 20px;
  }
  
  .point-item {
    list-style-type: disc;
    text-align: left;
  }
  